header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #111827;
  color: #facc15;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);

}

header h1 {
  font-size: 26px;
  font-weight: 700;
}

header nav {
  display: flex;
  gap: 16px;
}

header nav button {
  background: none;
  border: none;
  padding: 6px 16px;
  font-size: 15px;
  font-weight: 600;
  color: #f3f4f6;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
}

header nav button:hover {
  background: #facc15;
  color: #111827;
  transform: scale(1.05);
}

header nav button.active {
  background: #facc15;
  color: #111827;
}
